/*
.carousel .item img{
  margin: 0 auto;
*/
/*
}
#play {
  position: relative;
  width: 20%;
  z-index: 1;
}
.player{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container{
  padding-top: 20px;
*/
/*=======*/
/*Styles for the body*/

body {
    /*    background-image: url("../assets/images/img2.jpeg");*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}

 /*Change background color select*/

/*Changeable colors for the body background*/
/*.blue{
    background-color: blue;
    opacity: 0.6;
}

.violet{
    background-color: violet;
    opacity: 0.6;
}

.aqua{
    background-color: aqua;
    opacity: 0.6;
}

.lilac{
    background-color: #b666d2;
    opacity: 0.6;
}*/

/*Styles for the navigation bar*/

.navbar {
    margin-bottom: 0px;
    min-height: 80px;
}

.navbar-default {
    border-radius: 0;
    background-image: none;
    background-color: rgba(248, 248, 248, 0.7);
}

.navbar-default {
    color: white;
    font-weight: bolder;
    font-size: 18.5px;
    padding: 20px;
}

.navbar-brand {
    /*color: white;*/
    font-weight: bolder;
    font-size: 30px;
}

.navbar-nav {
    font-size: 20px;
    font-weight: bold;
    border-left: 2px solid #ddd;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(80, 145, 165);
    border-right: 2px solid #ddd;
}

.bg-colors{
  background-color: white;
  color: black;
      float: right;
    margin-top: 10px;
}

/*Styles for the overlay about section*/
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    visibility: hidden;
    cursor: pointer;

}

.overlay.open {
    visibility: visible;
    height: 100%;
}

/*position the content inside the overlay*/

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.overlay-content #text{
    padding: 8px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;

    font-size: 40px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.overlay-content #aboutHeader{
    font-size: 60px;
}


/*Styles for the main tag*/

#main {
    margin: auto;
    max-height: 50px;
    text-align: center;
    /*
    background-image: url("../assets/images/img2.jpeg");
    background-size: cover;
*/
}


/*Styles for the timer*/

.timer {
    float: right;
    color: whitesmoke;
    font-size: 20px;
    border: 2px solid #ddd;
    margin-top: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #ddd;
}


/*Style start and pause buttons*/

button.pause {
    display: none;
}

button {
    background-color: transparent;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #ddd;
    width: 20%;
}

#start {
    top: 65%;
    left: 40%;
    position: absolute;
}

button:hover {
    box-shadow: 0px 0px 15px #aaa;
}

/*Media Queries for the start and pause button*/

/*@media screen and (max-width:375px) {
    button {
        width: 30%;
    }
    #start {
        top: 45%;
        left: 40%;
        position: absolute;
    }
}

@media screen and (min-width:376px and max-width:480px) {
    button {
        width: 30%;
    }
    #start {
        top: 60%;
        left: 35%;
        position: absolute;
    }
}

@media screen and (min-width:481px and max-width:720px) {
    button {
        width: 30%;
    }
    #start {
        top: 45%;
        left: 40%;
        position: absolute;
    }
}
@media screen and (min-width:721px and max-width:1000px) {
    button {
        width: 20%;
    }
    #start {
        top: 50%;
        left: 40%;
        position: absolute;
    }
}
*/

/*Media Queries for phone and tablet mode*/

/*@media screen and (max-width:600px) {
    body {
        background-image: url(../assets/images/img2-rotated.jpeg);
    }
}

@media screen and (max-width:768px) {
    #headingNavbar {
        margin: 5px;
    }
    .navbar-default .navbar-brand {
        font-size: 15px;
    }
    .navbar-brand {
        float: left;
        height: 0px;
        margin-bottom: 5px;
    }
    .navbar-nav {
        font-size: 13px;
        border-left: 0px;
        margin: 0px;
    }
    .nav>li {
        display: inline-block;
    }
    .navbar-default .navbar-nav>li>a {
        border-right: 0px;
    }
    .navbar-nav>li>a {
        line-height: 1.42857143;
    }
    .helloPlayer {
        display: none;
    }
}*/


/*Media Queries for tablet mode*/

/*@media screen and (min-width:760px) {
    .navbar-default .navbar-brand {
        font-size: 18px;
    }
    .navbar-nav {
        font-size: 15px;
    }
    .helloPlayer {
        display: inline;
        float: right;
    }
}*/


/*Media Queries for laptop mode*/

/*@media screen and (min-width:601px) {
    body {
        background-image: url(../assets/images/img2.jpeg);
    }

}*/

@media (min-width: 768px) {
    .container {
    width: 100%;
    }
}

/*Style .container*/
.container {
    padding-left: 0;
    padding-right: 0;
}

